<app-navbar></app-navbar>
<div class="container mx-auto mt-3">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 my-3" >
            <a href="">
                <div class="card" style="width: 18rem;">
                    <img src="../../assets/images/thought-catalog-B1dQCWz0U2w-unsplash 1.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Title:  </h5>
                      <p class="card-text">Author:</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 my-3">
            <a href="">
                <div class="card" style="width: 18rem;">
                    <img src="../../assets/images/thought-catalog-B1dQCWz0U2w-unsplash 1.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Title; Your Heart is the Sea</h5>
                      <p class="card-text">Author: Author</p>
                    </div>
                  </div>
            </a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 my-3">
            <a href="">
                <div class="card" style="width: 18rem;">
                    <img src="../../assets/images/thought-catalog-B1dQCWz0U2w-unsplash 1.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Title; Your Heart is the Sea</h5>
                      <p class="card-text">Author: Author</p>
                    </div>
                  </div>
            </a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 my-3">
            <a href="">
                <div class="card" style="width: 18rem;">
                    <img src="../../assets/images/thought-catalog-B1dQCWz0U2w-unsplash 1.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Title; Your Heart is the Sea</h5>
                      <p class="card-text">Author: Author</p>
                    </div>
                  </div>
            </a>
        </div>
    </div>
</div>
