@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

nav{
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.nav_link a{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    color: #197BBD;
}

.active {
    color: #000000 !important;
    text-decoration-line: underline;
    text-decoration-color: #197BBD;
    text-decoration-thickness: 2px;
}


