<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<h3 style="margin-top: 70px;margin-left: 100px;">History Collection</h3>
<div class="container mx-auto">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 my-3">
            <a href="">
                <div class="card" style="width: 18rem;">
                    <img src="../../assets/images/thought-catalog-B1dQCWz0U2w-unsplash 1.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Title; Your Heart is the Sea</h5>
                        <p class="card-text">Author: Author</p>
                    </div>
                </div>
            </a>
        </div>