.container {
    margin-left: 25%;
    margin-top: 13vh;
}

.row {
    width: 70%;
    height: 70vh;
    border: 2px solid grey;
    border-radius: 50px;
}

h1 {
    color: black;
    margin-left: 35%;
}

input {
    border: none;
    background-color: transparent;
    margin-left: 80px;
    width: 50%;
    height: 80px;
}

hr {
    width: 50%;
    margin-left: 10%;
}

label {
    margin-left: 80px;
}

select {
    border: none;
    background-color: transparent;
    width: 70%;
    margin-left: 80px;
}

#post {
    width: 30%;
    height: 70px;
    margin-top: 140px;
    margin-bottom: 30px;
    margin-left: 80px;
    border: 2px solid blue;
    background-color: blue;
    border-radius: 20px;
    color: white;
}