<app-navbar></app-navbar>

<div class="container" style="margin-left:25%;margin-top: 13vh;">
    <div class="col">
        <div class="row" style="width: 70%;height:70vh;border: 2px solid grey;border-radius: 50px;">
            <h1 style="color: black;margin-left: 35%;">Book Details</h1>
            <input type="text" placeholder="Title" style="border:none;background-color: transparent;margin-left: 80px;width: 50%;">
            <hr style="width: 50%;margin-left: 10%;">
            <br>
            <input type="text" placeholder="Book Description" style="border:none;background-color: transparent;margin-left: 80px;width: 50%;">
            <hr style="width: 50%;margin-left: 10%;">
            <br>
            <label for="category" style="margin-left: 80px;">Book Category:</label>
            <select name="cars" id="cars" style="border:none;background-color:transparent;width: 70%;margin-left: 80px;">
              <option value="volvo">Horror</option>
              <option value="saab">Romans</option>
              <option value="opel">Art</option>
              <option value="audi">Lifestyle</option>
              <option value="audi">Business</option>
              <option value="audi">Science</option>
            </select>
            <br>
            <input type="submit" placeholder="post" style="width:30%; margin-top: 50px;margin-bottom: 30px;margin-left:140px;border: 2px solid blue;background-color: blue;border-radius: 20px;color: white;">
        </div>
    </div>
</div>